html { 
  background: url(background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.element {
    margin-top: 48vh;
    margin-left: 50vh;
    transform: translate(-25%,-50%);
}
body{
    background-color: transparent   ;  
    font-family: 'Amatic SC', cursive;
    font-size: 240%;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;  
}
p{
    text-align: right;
    margin-right: -24%;
    margin-top: -10%;
}
